<b>Que<%= problem.queno%>.  <%= problem.que %></b><br/>	
<form action="/attempt" method="post" style="padding: 20px;" data-remote="true">
   	<%= token_tag %>
   	<input type="hidden" name="queno" value="<%= problem.queno %>" id="queno">
   	<input type="hidden" name="testid" value="<%= problem.testid %>" id="testid">
   	<input type="hidden" name="problemid" value="<%= problem.id %>">

	<label class="custom-control custom-checkbox">
  	<input class="custom-control-input" type="checkbox" value="1" name="options[][1]" onclick="AttemptEntry(event)">
 	 <span class="custom-control-indicator"></span>
  	<span class="custom-control-description"><%= problem.option1 %></span>
	</label>

	<label class="custom-control custom-checkbox">
  	<input class="custom-control-input" type="checkbox" value="1" name="options[][2]" onclick="AttemptEntry(event)">
 	 <span class="custom-control-indicator"></span>
  	<span class="custom-control-description"><%= problem.option2 %></span>
	</label>

	<label class="custom-control custom-checkbox">
  	<input class="custom-control-input" type="checkbox" value="1" name="options[][3]" onclick="AttemptEntry(event)">
     <span class="custom-control-indicator"></span>
	<span class="custom-control-description"><%= problem.option3 %></span>
	</label>

	<label class="custom-control custom-checkbox">
	<input class="custom-control-input" type="checkbox" value="1" name="options[][4]" onclick="AttemptEntry(event)">
	<span class="custom-control-indicator"></span>
	<span class="custom-control-description"><%= problem.option4 %></span>
	</label><br/>
	<input type="submit" style="display: none;" id="problemsubmit">
</form>
