<b>Que<%= problem.queno%>  <span style="white-space: pre-wrap;"><%= problem.que %></span></b><br/>	
<form action="/attempt" method="post" style="padding: 20px;" data-remote="true">
   	<%= token_tag %>
    <input type="hidden" name="queno" value="<%= problem.queno %>" id="queno">
   	<input type="hidden" name="testid" value="<%= problem.testid %>" id="testid">
   	<input type="hidden" name="problemid" value="<%= problem.id %>">
   	<input type="hidden" id="answered" value="<%= @answered %>">

	<label class="custom-control custom-checkbox">
  	<input class="custom-control-input" type="checkbox" value="1" name="options[][1]" onclick="AttemptEntry(event)" id="option1">
 	 <span class="custom-control-indicator"></span>
  	<span class="custom-control-description" style="white-space: pre-wrap;"><%= problem.option1 %></span>
	</label>

	<label class="custom-control custom-checkbox">
  	<input class="custom-control-input" type="checkbox" value="1" name="options[][2]" onclick="AttemptEntry(event)" id="option2" >
 	 <span class="custom-control-indicator"></span>
  	<span class="custom-control-description" style="white-space: pre-wrap;"><%= problem.option2 %></span>
	</label>

	<label class="custom-control custom-checkbox">
  	<input class="custom-control-input" type="checkbox" value="1" name="options[][3]" onclick="AttemptEntry(event)" id="option3">
     <span class="custom-control-indicator"></span>
	<span class="custom-control-description" style="white-space: pre-wrap;"><%= problem.option3 %></span>
	</label>

	<label class="custom-control custom-checkbox">
	<input class="custom-control-input" type="checkbox" value="1" name="options[][4]" onclick="AttemptEntry(event)" id="option4">
	<span class="custom-control-indicator"></span>
	<span class="custom-control-description" style="white-space: pre-wrap;"><%= problem.option4 %></span>
	</label><br/>
	<input type="submit" style="display: none;" id="problemsubmit">
</form>
<script type="text/javascript">
	arr=document.getElementById("answered").value.split(",")
	length=arr.length;
	for(i=0;i<length;i++){
		element="option"
		if(arr[i]!="")
		document.getElementById(element+arr[i]).checked="true"
	}
	
</script>