<table cellspacing='0'>

	<thead>
		<tr>
			<th>Rank</th>
			<th>Name</th>
			<th>Score</th>
			<th>Correct Answers</th>
			<th>Wrong Answers</th>
			<th>Accuracy</th>
		</tr>
	</thead>

	<tbody>
		
		<% noofenrollments=enrollments.length %>

		<% (0..(noofenrollments-1)).each do |i| %>
		
			<% userid=enrollments[i].user_id %>
			<% user=User.find_by_id(userid) %>

			<% score=enrollments[i].score %>
			<% maxscore=enrollments[i].maxscore  %>
			<% correct=enrollments[i].correctAnswers %>
			<% wrong=enrollments[i].wrongAnswers %>
	

			<% if score.blank? %>
				<% score=0 %>
			<%end%>
			<% if maxscore.blank? %>
				<% maxscore=0 %>
			<%end%>
			<% if correct.blank? %>
				<% correct=0 %>
			<%end%>
			<% if wrong.blank? %>
				<% wrong=0 %>
			<%end%>

			<% eff=0 %>


			<%if (i%2) %>
				<tr>
					<td><%= i+1%></td>
					<td><%= user.FirstName %> <%= user.LastName%></td>
					<td><%= score %>/<%= maxscore %></td>
					<td><%= correct %></td>
					<td><%= wrong %></td>
					<td><%= eff %>%</td>
				</tr>
			<%else%>
				<tr class="even">
					<td><%= i+1%></td>
					<td><%= user.FirstName %> <%= user.LastName%></td>
					<td><%= score %>/<%= maxscore %></td>
					<td><%= correct %></td>
					<td><%= wrong %></td>
					<td><%=  eff %>%</td>
				</tr>
				
				<%end%>
		<%end%>

	</tbody>

</table>