<table cellspacing='0'>

	<thead>
		<tr>
			<th>Rank</th>
			<th>Name</th>
			<th>Score</th>
			<th>Correct Answers</th>
			<th>Wrong Answers</th>
			<th>Accuracy</th>
		</tr>
	</thead>

	<tbody>
		
		<% noofenrollments=enrollments.length %>

		<% (0..(noofenrollments-1)).each do |i| %>
		
			<% userid=enrollments[i].user_id %>
			<% user=User.find_by_id(userid) %>

			<%if (i%2) %>
				<tr>
					<td><%= i+1%></td>
					<td><%= user.FirstName%> <%= user.LastName%></td>
					
				</tr>
			<%else%>
				<tr class="even">
					<td><%= i+1 %></td>
					<td><%= user.FirstName%> <%= user.LastName%></td>
				
				</tr>
				
				<%end%>
		<%end%>

	</tbody>

</table>