<h1>Problems</h1>
	<a href="/problem/new/?testid=<%=@test.id%>">Add Problem</a><br/><br/>
	<% @problems.each do |problem| %>
		<%= problem.que %> <a href="/problem/edit/<%= problem.id%>">Edit Problem</a> <a href="">Delete Problem</a><br/>
	<%end%>

<h1>Details</h1><br/>
<%= form_for @test, url: {action: "update"} do |f| %>
	Title: <%= f.text_field :title %><br/>
	Description: <%= f.text_area :description %><br/>
	Duration(In minutes): <%= f.number_field :duration %><br/>
	Start Time: <%= f.datetime_select :starttime %><br/>
	End Time: <%= f.datetime_select :endtime %><br/>
	Conducted By: <%= f.text_field :conductedby%><br/>
	Fee: <%= f.number_field :fee %><br/>
	Prize:<%= f.text_field :prize %><br/>
	Instructions:<%= f.text_area :instructions %><br/>
	Password:<%= f.password_field :password %><br/>
	Test Type:<%= f.text_field :ttype %><br/>
	<%= f.submit%>
<%end%>