<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9" style="padding-top: 30px; padding-left: 50px;background: #f4f3f3;">
		<div class="card text-center">
		  <div class="card-header">
		    <ul class="nav nav-tabs card-header-tabs">
		      <li class="nav-item">
		        <a class="nav-link active" href="#">Problems</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Leaderboard</a>
		      </li>
		    </ul>
		  </div>
		  <div class="card-body" style="padding:30px;">

		  <% if !@problem.blank?%>
		  
		  <div align="left" id="question">	
			<%= render 'problem', problem: @problem %>	
		 </div>

			<button type="button" class="btn btn-primary btn-md" onclick="prevproblem(event);">Previous Problem</button>
			<button type="button" class="btn btn-primary btn-md" onclick="nextproblem(event);">Next Problem</button>
			<br/>
			<%else%>
			 <p>This Test Does not contain any problem yet.
			<%end%>
			<br/>
			
			<% if @totalproblems.length>0 %>
				<input type="hidden" id="totalproblems" value="<%= @totalproblems.length %>" >
				<h5>Jump on question number</h5>
				<div id="questionnumber" style="padding:10px;" >
				<% for i in 1..@totalproblems.length %>
		  			<button type="button" class="btn btn-success btn-xs" id="pagebutton<%=i%>" onclick="jumpto(event,<%=i%>)"><%= i %></button>		 
		  		<%end%>
		  		</div>
		  	<%end%>

		  </div>
		</div>
    </div>
 <div class="col-sm-3" style="padding-top: 30px;background: #e5e7e8;padding-left:20px;">
 </div>
</div>


<script type="text/javascript">
	var AttemptEntry=function(event){
		problemsubmit=document.getElementById('problemsubmit');
		problemsubmit.click();
	}

	var prevproblem=function(event){
		qno=document.getElementById('queno')
		testid=document.getElementById('testid')
		
		if(qno.value<=1)
		{
			alert("Already on First Problem");
			return 0;
		}

		$.ajax({
			type:'GET',
			url:'/test/changeproblem',
			data:{'qno':parseInt(qno.value)-1,
				  'testid':testid.value
				 },
			dataType: 'script',		
		});

		document.getElementById("pagebutton"+(parseInt(qno.value)-1)).setAttribute("class", "btn btn-warning btn-xs");
		document.getElementById("pagebutton"+parseInt(qno.value)).setAttribute("class", "btn btn-success btn-xs");
	}

	var nextproblem=function(event){
		qno=document.getElementById('queno')
		testid=document.getElementById('testid')
		totalproblems=document.getElementById('totalproblems')

		if(parseInt(qno.value)==parseInt(totalproblems.value)){
			alert("Already on last problem");
			return 0;
		}

		$.ajax({
			type:'GET',
			url:'/test/changeproblem',
			data:{'qno': parseInt(qno.value)+1,
				  'testid':testid.value
				 },
			dataType: 'script',		
		});

		document.getElementById("pagebutton"+(parseInt(qno.value)+1)).setAttribute("class", "btn btn-warning btn-xs");
		document.getElementById("pagebutton"+parseInt(qno.value)).setAttribute("class", "btn btn-success btn-xs");
	}

	var jumpto=function(event,queno){
		qno=document.getElementById('queno')
		$.ajax({
			type:'GET',
			url:'/test/changeproblem',
			data:{'qno':queno,
				  'testid':testid.value
				 },
			dataType: 'script',		
		});

		document.getElementById("pagebutton"+queno).setAttribute("class", "btn btn-warning btn-xs");
		document.getElementById("pagebutton"+parseInt(qno.value)).setAttribute("class", "btn btn-success btn-xs");
	}

	queno=parseInt(document.getElementById("queno").value)
	currentbutton="pagebutton"+queno
	document.getElementById(currentbutton).setAttribute("class", "btn btn-warning btn-xs");
</script>
