<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9" style="padding-top: 30px; padding-left: 50px;background: #f4f3f3;">
		
		<center>Your particiption ending in <br/><div id="timer"></div><br/></center>

		<div class="card text-center">
		  <div class="card-header">
		    <ul class="nav nav-tabs card-header-tabs">
		    <li class="nav-item">
		        <a class="nav-link" href="#">Instructions</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link active" href="#">Problems</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Score Board</a>
		      </li>
		    </ul>

		  </div>
		  <div class="card-body" style="padding:30px;">
		  <div align="left" id="question">	
		  	<%= render 'problem', problem: @problem,answered: @answered %>
		 </div>

		 <center>
		<button type="button" class="btn btn-danger" onclick="submit()" >Submit Quiz</button> 	
		<button type="button" class="btn btn-primary btn-md" onclick="prevproblem(event);" id="prevbutton">Previous Problem</button>
		<button type="button" class="btn btn-primary btn-md" onclick="nextproblem(event);" id="nextbutton">Next Problem</button><br/>
		</center>
		<br/>

			
			<% if @totalproblems>=0 %>
				<input type="hidden" id="totalproblems" value="<%= @totalproblems %>" >
				<h5>Jump on question number</h5>
				<div id="questionnumber" style="padding:10px;" >
		
				<% for i in 1..@totalproblems %>
		  			<button type="button" class="btn btn-success btn-xs" id="pagebutton<%=i%>" onclick="jumpto(event,<%=i%>)"><%= i %></button>		 
		  		<%end%>
		  		</div>
		  	<%end%>

		  </div>
		</div>
    </div>
 <div class="col-sm-3" style="padding-top: 30px;background: #e5e7e8;padding-left:20px;">

 </div>
</div>

</div>

<script type="text/javascript">
	var submit=function(){
		value=prompt("Once submitted you will not be allowed to do any further submissions or to change your submissions.\n\nIf you want to continue submiting the quiz type yes else type no.")
		if(value.toUpperCase()=="YES"){
			testid=document.getElementById('testid').value
			location="/test/submit/?testid="+testid

			console.log(location)
		}
	}

	var AttemptEntry=function(event){
		problemsubmit=document.getElementById('problemsubmit');
		problemsubmit.click();
	}

	var prevproblem=function(event){
		qno=document.getElementById('queno')
		testid=document.getElementById('testid')
		
		if(qno.value<=1)
		{
			alert("Already on First Problem");
			return 0;
		}

		$.ajax({
			type:'GET',
			url:'/test/changeproblem',
			data:{'qno':parseInt(qno.value)-1,
				  'testid':testid.value
				 },
			dataType: 'script',		
		});

		document.getElementById("pagebutton"+(parseInt(qno.value)-1)).setAttribute("class", "btn btn-warning btn-xs");
		document.getElementById("pagebutton"+parseInt(qno.value)).setAttribute("class", "btn btn-success btn-xs");
	}

	var nextproblem=function(event){

		qno=document.getElementById('queno')
		testid=document.getElementById('testid')
		totalproblems=document.getElementById('totalproblems')

		if(parseInt(qno.value)==parseInt(totalproblems.value)){
			alert("Already on last problem");
			return 0;
		}

		$.ajax({
			type:'GET',
			url:'/test/changeproblem',
			data:{'qno': parseInt(qno.value)+1,
				  'testid':testid.value
				 },
			dataType: 'script',		
		});

		document.getElementById("pagebutton"+(parseInt(qno.value)+1)).setAttribute("class", "btn btn-warning btn-xs");
		document.getElementById("pagebutton"+parseInt(qno.value)).setAttribute("class", "btn btn-success btn-xs");
	}

	var jumpto=function(event,queno){
		qno=document.getElementById('queno')

		$.ajax({
			type:'GET',
			url:'/test/changeproblem',
			data:{'qno':queno,
				  'testid':testid.value
				 },
			dataType: 'script',		
		});

		document.getElementById("pagebutton"+queno).setAttribute("class", "btn btn-warning btn-xs");
		document.getElementById("pagebutton"+parseInt(qno.value)).setAttribute("class", "btn btn-success btn-xs");
		
	}

	queno=parseInt(document.getElementById("queno").value)
	button=document.getElementById("pagebutton"+queno)
	button.setAttribute("class", "btn btn-warning btn-xs");

</script>

  <script>
    endtime=<%= @endtime.to_f*1000 %>
    var countDownDate = new Date(endtime).getTime();
    var countdowntimer = setInterval(function() {
      var now = new Date().getTime();
      var distance =countDownDate-now;
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      document.getElementById("timer").innerHTML = days + "d " + hours + "h "
      + minutes + "m " + seconds + "s ";
      if (distance < 0) {
        clearInterval(x);
        
        testid=document.getElementById('testid').value
		location="/test/submit/?testid="+testid
      }
    },1000);
    </script>