<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9" style="padding-top: 30px; padding-left: 50px;background: #f4f3f3;">
		<div class="card text-center">
		  <div class="card-header">
		    <ul class="nav nav-tabs card-header-tabs">
		      <li class="nav-item">
		        <a class="nav-link active" href="#">Problems</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Leaderboard</a>
		      </li>
		    </ul>
		  </div>
		  <div class="card-body" style="padding:30px;">
		  <div align="left" id="question">	
		  	<input type="hidden" name="queno" value="0" id="queno">
   			<input type="hidden" name="testid" value="<%= @test.id %>" id="testid">
   			<h4><b>Instructions</b></h4>
   			<div style="white-space: pre-wrap;"><%= @test.instructions %></div>
		 </div>

		 <center>
		<button type="button" class="btn btn-primary btn-md" onclick="prevproblem(event);" id="prevbutton">Previous Problem</button>
		<button type="button" class="btn btn-primary btn-md" onclick="nextproblem(event);" id="nextbutton">Next Problem</button><br/>
		<button type="button" class="btn btn-primary btn-md" onclick="nextproblem(event);" id="moveonproblems">Move on Problems</button>
		</center>
		<br/>

			
			<% if @totalproblems>=0 %>
				<input type="hidden" id="totalproblems" value="<%= @totalproblems %>" >
				<h5>Jump on question number</h5>
				<div id="questionnumber" style="padding:10px;" >
				<button type="button" class="btn btn-success btn-xs" id="pagebutton0" onclick="jumpto(event,0)">Instructions</button>		 
				<% for i in 1..@totalproblems %>
		  			<button type="button" class="btn btn-success btn-xs" id="pagebutton<%=i%>" onclick="jumpto(event,<%=i%>)"><%= i %></button>		 
		  		<%end%>
		  		</div>
		  	<%end%>

		  </div>
		</div>
    </div>
 <div class="col-sm-3" style="padding-top: 30px;background: #e5e7e8;padding-left:20px;">
 </div>
</div>

</div>

<script type="text/javascript">
	var AttemptEntry=function(event){
		problemsubmit=document.getElementById('problemsubmit');
		problemsubmit.click();
	}

	var prevproblem=function(event){
		qno=document.getElementById('queno')
		testid=document.getElementById('testid')
		
		if(qno.value<=1)
		{
			alert("Already on First Problem");
			return 0;
		}

		$.ajax({
			type:'GET',
			url:'/test/changeproblem',
			data:{'qno':parseInt(qno.value)-1,
				  'testid':testid.value
				 },
			dataType: 'script',		
		});

		document.getElementById("pagebutton"+(parseInt(qno.value)-1)).setAttribute("class", "btn btn-warning btn-xs");
		document.getElementById("pagebutton"+parseInt(qno.value)).setAttribute("class", "btn btn-success btn-xs");
		document.getElementById("prevbutton").style.visibility='visible';
		document.getElementById("nextbutton").style.visibility='visible';
		document.getElementById("moveonproblems").style.visibility='hidden';
	}

	var nextproblem=function(event){

		qno=document.getElementById('queno')
		testid=document.getElementById('testid')
		totalproblems=document.getElementById('totalproblems')

		if(parseInt(qno.value)==parseInt(totalproblems.value)){
			alert("Already on last problem");
			return 0;
		}

		$.ajax({
			type:'GET',
			url:'/test/changeproblem',
			data:{'qno': parseInt(qno.value)+1,
				  'testid':testid.value
				 },
			dataType: 'script',		
		});

		document.getElementById("pagebutton"+(parseInt(qno.value)+1)).setAttribute("class", "btn btn-warning btn-xs");
		document.getElementById("pagebutton"+parseInt(qno.value)).setAttribute("class", "btn btn-success btn-xs");

		document.getElementById("prevbutton").style.visibility='visible';
		document.getElementById("nextbutton").style.visibility='visible';
		document.getElementById("moveonproblems").style.visibility='hidden';
	}

	var jumpto=function(event,queno){
		qno=document.getElementById('queno')
		if(queno==0){
			document.getElementById('question').innerHTML="<input type='hidden' name='queno' value='0' id='queno'><input type='hidden' name='testid' value='1' id='testid'><h4><b>Instructions</b></h4>";
			document.getElementById("pagebutton0").setAttribute("class", "btn btn-warning btn-xs");
			document.getElementById("pagebutton"+parseInt(qno.value)).setAttribute("class", "btn btn-success btn-xs");
			document.getElementById("prevbutton").style.visibility='hidden';
			document.getElementById("nextbutton").style.visibility='hidden';
			document.getElementById("moveonproblems").style.visibility='visible';

			return 0;
		}
		$.ajax({
			type:'GET',
			url:'/test/changeproblem',
			data:{'qno':queno,
				  'testid':testid.value
				 },
			dataType: 'script',		
		});

		document.getElementById("pagebutton"+queno).setAttribute("class", "btn btn-warning btn-xs");
		document.getElementById("pagebutton"+parseInt(qno.value)).setAttribute("class", "btn btn-success btn-xs");
		document.getElementById("prevbutton").style.visibility='visible';
		document.getElementById("nextbutton").style.visibility='visible';
		document.getElementById("moveonproblems").style.visibility='hidden';
	}

	queno=parseInt(document.getElementById("queno").value)
	button=document.getElementById("pagebutton"+queno)
	button.setAttribute("class", "btn btn-warning btn-xs");

	
	document.getElementById("prevbutton").style.visibility='hidden';
	document.getElementById("nextbutton").style.visibility='hidden';
</script>
