<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9" style="padding-top: 30px; padding-left: 50px;background: #f4f3f3;">
      <h4>Ongoing Quizes</h4>
      <hr style="border: 1px dotted black;">
	   <div class="row">

    <% @ongoingtests.each do |test| %>
     <div class="col-sm-4"  style="margin-bottom:10px;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><a href="/test/view/<%= test.id%>" style="color:black;"><%= test.title %></a></h5>
          <p class="card-text">
            <%= test.description %>
              <center>
                <% @currenttime=Time.now.in_time_zone(TZInfo::Timezone.get('Asia/Kolkata')) %>
                <% @endtime=test.endtime.to_f*1000 %>
                <p style="font-size:10px;margin-bottom: 5px; ">ENDS IN</p>
                <span style="font-size:20px;" id="timer<%= test.id%>"></span><br/>
                <!-- <span style="font-size:10px;">Days&nbsp;&nbsp;&nbsp;&nbsp;Hours&nbsp;&nbsp;&nbsp;&nbsp;Minutes</span> -->
              </center>
            </p>
          <center><a href="/test/view/<%= test.id%>" class="btn btn-success" style="background: #9c0;border: #9c0;">Start Now</a></center>
        </div>
         <div class="card-footer">
        <small class="text-muted">Fee: ₹<%= test.fee %> Prize: ₹<%= test.prize %></small>
      </div>
      </div>
    </div>

    <script>
    endtime=<%= @endtime %>
    var timer<%= test.id%>countDownDate = new Date(endtime).getTime();
    var timer<%= test.id%> = setInterval(function() {
      var timer<%= test.id%>now = new Date().getTime();
      var timer<%= test.id%>distance =timer<%= test.id%>countDownDate-timer<%= test.id%>now;
      var timer<%= test.id%>days = Math.floor(timer<%= test.id%>distance / (1000 * 60 * 60 * 24));
      var timer<%= test.id%>hours = Math.floor((timer<%= test.id%>distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var timer<%= test.id%>minutes = Math.floor((timer<%= test.id%>distance % (1000 * 60 * 60)) / (1000 * 60));
      var timer<%= test.id%>seconds = Math.floor((timer<%= test.id%>distance % (1000 * 60)) / 1000);
      document.getElementById("timer<%= test.id%>").innerHTML = timer<%= test.id%>days + "d " + timer<%= test.id%>hours + "h "
      + timer<%= test.id%>minutes + "m " + timer<%= test.id%>seconds + "s ";
      if (timer<%= test.id%>distance < 0) {
        location.reload();
      }
    },1000);
    </script>
  <%end%>
  
</div>	
<br/><br/>
	 <h4>Upcoming Quizes</h4>
	 <hr style="border: 1px dotted black;">
	<div class="row">
     <% @upcomingtests.each do |test| %>
     <div class="col-sm-4"  style="margin-bottom:10px;">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><a href="/test/view/<%= test.id%>" style="color:black;"><%= test.title %></a></h5>
          <p class="card-text">
            <%= test.description %>
              <center>
                <% @currenttime=Time.now.in_time_zone(TZInfo::Timezone.get('Asia/Kolkata')) %>
                <% @starttime=test.starttime.to_f*1000 %>
                <p style="font-size:10px;margin-bottom: 5px; ">STARTS IN</p>
                <span style="font-size:20px;" id="timer<%= test.id%>"></span><br/>
              </center>

            </p>
          <center><a href="/test/view/<%= test.id%>" class="btn btn-success" style="background: #9c0;border: #9c0;">Register Now</a></center>
        </div>
         <div class="card-footer">
        <small class="text-muted">Fee</small>
      </div>
      </div>
    </div>

     <script>
    starttime=<%= @starttime %>
    var timer<%= test.id%>countDownDate = new Date(starttime).getTime();
    var timer<%= test.id%> = setInterval(function(){
      var timer<%= test.id%>now = new Date().getTime();
      var timer<%= test.id%>distance =timer<%= test.id%>countDownDate-timer<%= test.id%>now;
      var timer<%= test.id%>days = Math.floor(timer<%= test.id%>distance / (1000 * 60 * 60 * 24));
      var timer<%= test.id%>hours = Math.floor((timer<%= test.id%>distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var timer<%= test.id%>minutes = Math.floor((timer<%= test.id%>distance % (1000 * 60 * 60)) / (1000 * 60));
      var timer<%= test.id%>seconds = Math.floor((timer<%= test.id%>distance % (1000 * 60)) / 1000);
      document.getElementById("timer<%= test.id%>").innerHTML = timer<%= test.id%>days + "d " + timer<%= test.id%>hours + "h "
      + timer<%= test.id%>minutes + "m " + timer<%= test.id%>seconds + "s ";
      if (timer<%= test.id%>distance < 0) {
        location.reload();
      }
    },1000);
    </script>

  <%end%>
  
  
  </div>		


    </div>

   <div class="col-sm-3" style="padding-top: 30px;background: #e5e7e8;padding-left:20px;">
   	<h6><b>Whats New</b></h6>
      <hr style="border-top: dotted 1px;" />
      <ul type="none" style="padding:5px;color:#4c9cdf;">
      	<li>Jee Main 20 18 Application Form</li>
      	<li>PMT 2018 Application Form</li>
      	<li>Mains 2018 Corrections</li>
      	<li>SSC Exam Schedule</li>
      </ul>

      <h6><b>Registered Quizes</b></h6>
      <hr style="border-top: dotted 1px;" />
      <ul type="none" style="padding:5px;color:#4c9cdf;">
      	<li>First Challenge</li>
      	<li>Second Challenge</li>
      	<li>Third Challenge</li>
      	<li>Fourth Challenge</li>
      	<li>Fifth Challenge</li>
      </ul>

       <h6><b>Quiz Type</b></h6>
      <hr style="border-top: dotted 1px;" />
	  <label class="custom-control custom-checkbox">
	  	<input type="checkbox" class="custom-control-input">
	 	 <span class="custom-control-indicator"></span>
	  	<span class="custom-control-description">IIT</span>
	</label>
		<label class="custom-control custom-checkbox">
	  	<input type="checkbox" class="custom-control-input">
	 	 <span class="custom-control-indicator"></span>
	  	<span class="custom-control-description">AIIMS</span>
	</label>
	<label class="custom-control custom-checkbox">
	  	<input type="checkbox" class="custom-control-input">
	 	 <span class="custom-control-indicator"></span>
	  	<span class="custom-control-description">PMT</span>
	</label>
	<label class="custom-control custom-checkbox">
	  	<input type="checkbox" class="custom-control-input">
	 	 <span class="custom-control-indicator"></span>
	  	<span class="custom-control-description">JEE Mains</span>
	</label>
	<label class="custom-control custom-checkbox">
	  	<input type="checkbox" class="custom-control-input">
	 	 <span class="custom-control-indicator"></span>
	  	<span class="custom-control-description">Banking</span>
	</label>
	<label class="custom-control custom-checkbox">
	  	<input type="checkbox" class="custom-control-input">
	 	 <span class="custom-control-indicator"></span>
	  	<span class="custom-control-description">Others</span>
	</label>

  </div>
</div>

</div>


