<!DOCTYPE html>
<html>
<head>
  <title>Quizing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar navbar-dark" style="background-color: #333753; padding-left:50px;padding-right: 50px;">
  <a class="navbar-brand" href="/" style="font-family: 'Allerta Stencil', sans-serif; font-size: 20px; ">Quizing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item active" style="margin-left: 10px;">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" style="margin-left: 10px;">
        <a class="nav-link" href="#">Practice</a>
      </li>
      <li class="nav-item" style="margin-left: 10px;">
        <a class="nav-link" href="#">Mock Test</a>
      </li>
      <li class="nav-item" style="margin-left: 10px;">
        <a class="nav-link" href="#">Study Material</a>
      </li>
      <li class="nav-item" style="margin-left: 10px;">
        <a class="nav-link" href="#">Discuss</a>
      </li>
      <li>
        <form class="form-inline my-2 my-lg-0" style="padding-left: 10px;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search quizes ond our shining stars" style="background-color: #272a41;" size="30">
        </form>
      </li> 
  </ul>
    <div class="nav-item dropdown" style="color:white;">
        <% if user_signed_in? %>
        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
          <% profileurl=current_user.profilePicUrl+'?s=20' %>
          <img src="<%= profileurl %> ">
          <%= current_user.FirstName %> <%= current_user.LastName %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Messages</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">View Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/users/edit">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/users/sign_out" data-method="delete">Log out</a>
        </div>
        <%else%>
         <span class="nav-link"><a href="/users/sign_in" style="color:white;">Login</a> / <a href="/users/sign_up" style="color:white;">Register</a></span>
        <%end%>
      </div>

  </div>
</nav>

<%= yield %>
  <hr class="footerline">
   <div class="footer" style="padding-left:0;">
        <center><p style="color:#f6f6f6;padding-top: 10px;font-size: 15px;">© 2017 Quizing.in   All Rights Reserved.</p>
          <div style="margin-top:-10px;"><a href="#" target="_blank"><i class="fa fa-facebook-official icon-large" aria-hidden="true" style="color:white;margin-left: 10px;"></i></a><i class="fa fa-twitter-square" aria-hidden="true"  style="color:white;margin-left: 10px;"></i></div>
        </center>
    </div>

</body>
</html>
